@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --bg-color-main: #17212b;
  --bg-color-secondary: #0e1621;
  --button-color-main: #606b76;
  --button-color-main-hover: #f7f7f7;
  --search-bg-color: #242f3d;
  --placeholder-bg-color: #535e69;
  --bg-color-highlighted: #2b5278;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color-main);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
